---
root: .
active_tab: home
page_header: Our Team & Mission Statement
---

<img class="photo-large" src="{{ root }}/img/years/2014-2015/group_photo.jpg"/>

<p class="blurb call-to-action">
    <a href="https://www.indiegogo.com/projects/the-undergraduate-research-journal-of-psychology#home">Interested in helping fund our organization?</a>
</p>

<p class="blurb">
    An annual publication of collaborative efforts between undergraduate students at UCLA and neighboring universities, The Undergraduate Journal of Psychology at UCLA aims to promote and disseminate student excellence in psychological research. The organization intends to serve the undergraduate community at large by making the publication process more accessible and highlighting the interesting and relevant nature of the study of psychology.
</p>
