---
active_tab: publications
page_header: Publications
---

<ul class="icons">
    <li>
        <a href="{{ root }}/docs/journal2014.pdf" class="media media-icon">
            <i class="icon fa fa-file"></i>

            <div class="bd bd-long">
               Volume 1: Spring 2014
            </div>
        </a>
    </li>
</ul>
